<div class="page page-profile">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-7 hello">
                <h2>Hello {{user.firstname}}!</h2>
                <div class="view">
                    <h3>No order found</h3>
                </div>
                
            </div>
            <div class="col-12 col-sm-4">
                <ul>
                    <li><a href="#">View previous orders</a></li>
                    <li><a href="#">Saved addresses</a></li>
                    <li><a href="#">Saved contact details</a></li>
                    <li><a href="#">Reset password</a></li>
                    <li><a href="#">Account deletion</a></li>
                    <hr>
                    <li><a href="#">Sign out</a></li>
                </ul>
                
            </div>
        </div>
    </div>
</div>
<script src='/stylesheets/profile.js'></script>