<div class="page page-signin">
    <div class="container">
            <h1>Sign In to order</h1>
            <p class="up"><b>Protecting the security of your personal data is<br> our priority</b></p>
            <p>Please sign in to your account with your registered email<br> address and password</p>
            <form action='/user/signin' method="post">
                <div class="form-group">
                    <input type="text" id="email" name="email" class="form-control" placeholder="Email Address*">
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password*">
                </div>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button type="submit" >SIGN IN</button>
                <b>OR</b>
                <a href="/user/signup" id="createacc" >CREATE AN ACCOUNT</a>
            </form>
            {{#if hasErrors}}
                <div class="btn alert alert-danger">
                    {{#each messages}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
            {{/if}}
    </div>
</div>