body {
    margin: 0px;
    font-family: 'Prompt', sans-serif;
}

.page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.page-1 {
    background: url(/products/bg.jpg);
    object-fit: cover;
    color: white;
}

.page-1 .container {
    gap: 0.8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-1 h1 {
    margin: 0;
    font-size: 5em;
    margin-bottom: 0.2em;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.page-1 h2 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 1em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);

}

.page-1 button {
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
    background-color: transparent;
    border: 3px solid white;
    color: white;
}

.page-1 #online-btn {
    border: 3px solid #016291;
}

.page-1 .flex-btn {
    display: flex;
    flex-direction: row;
    gap: 2em
}

.page-signin {
    margin: 2em 0 2em 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

.page-signin p.up {
    font-size: 1.2em;
    font-weight: 500;

}

.page-signin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-signin .form-group {
    text-align: left;
    align-items: center;
    justify-content: center;
}

.page-signin .form-group input {
    width: 30em;
    height: 50px;
    border: solid #CBC4BC 2px;
    background-color: #ffffff;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1em;
}
.page-signin button{
    margin: 1em 0 1em 0;
    width: 30em;
    height: 50px;
    background-color: #006391;
    color: white;
    border: 0px;
    border-radius: 3px;
}
.page-signin a#createacc{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin: 1em 0 1em 0;
    width: 30em;
    height: 50px;
    background-color: #ffffff;
    color: #006391;
    border: 2px solid #006391;
    border-radius: 3px;
}

.page-signin h1 {
    font-size: 3em;
}

.page-signin p {
    font-size: 1em;
    margin: 0;
    font-weight: 200;
}

.page-profile {
    gap: 1em;
}
.page-profile .container{
    min-height: 60vmin;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.page-profile h1 {
    font-size: 3em;
    margin-top: 1em;
}

.page-profile h2 {
    font-size: 3em;
}
.page-profile .row{
    width: 100%;
    justify-content: center;
}
.page-profile .conhello{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-profile .alert p{
    margin-bottom: 0;
}
.page-profile .hello{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}
.page-profile .hello button#address{
    width: 25em;
    height: 80px;
    border: 2px solid #006391;
    background-color: transparent;
    color: #006391;
}
.page-profile .view{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    color: #929598;
}
.page-profile li{
    list-style-type: none;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
}
.page-profile a{
    text-decoration: none;
    color: black;
}
.page-profile .form-group input {
    width: 30em;
    height: 50px;
    border: solid #CBC4BC 2px;
    background-color: #ffffff;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1em;
}
.page-profile button{
    margin: 1em 0 1em 0;
    width: 30em;
    height: 50px;
    background-color: #006391;
    color: white;
    border: 0px;
    border-radius: 3px;
}
.page-profile form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-profile .form-group {
    text-align: left;
    align-items: center;
    justify-content: center;
}
.page-products {
    gap: 1em;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
}

.page-products .foodnav {
    margin: 1.5em 0 1.5em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-products .foodnav ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    padding-left: 0;
}

.page-products .foodnav a {
    color: black;
}

.page-products .foodnav button {
    width: 180px;
    height: 40px;
    background-color: #1976a1;
    border-radius: 3px;
    color: white;
    border: 0px;
}

.page-products .foodnav li {
    list-style-type: none;
    position: relative;
    /* Added */
}

.page-products .foodnav li::after {
    content: "|";
    position: absolute;
    top: 50%;
    right: -1em;
    transform: translateY(-50%);
    font-size: 1.2em;
}

.page-products .foodnav li:last-child::after {
    content: none;
    /* Remove the vertical line from the last li element */
}

.page-products img {
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.page-products .card-text {
    min-height: 170px;
}

.page-products .card button {
    background-color: #1087be;
    color: white;
}

.page-products .container {
    margin-bottom: 2em;
}

.page-products .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.page-products .close-btn{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.page-products a#signin{
    background-color: #006391;
    color: white;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
}
.page-products .delivery {
   display: flex;
}
.page-products .delivery p {
  margin: 0;
  font-size: 0.8em;
  width: 150px;
 }
 .page-products #change {
    margin: 0 0.5em 0 0.5em;
   }
.page-products h1 {
    font-size: 3em;
}

.page-products h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.page-products h3 {
    font-size: 1.3em;
    margin-top: 10px;
}

.page-products a {
    font-size: 0.8em;
    text-decoration: none;
}


.page-cart {
    background-color: #f3f1f1;
    justify-content: flex-start;
    gap: 1em;
}
.page-cart .container{
    display: flex;
    justify-content: center;
    text-align: center;
}
.page-cart .row{
    text-align: left;
    justify-content: center;
}


.page-cart h1 {
    font-size: 3em;
    margin-top: 1em;
    text-align: center;
}
.page-cart p#address {
    text-align: center;
}
.page-cart h3 {
    font-size: 1.2em;
}

.page-cart h4 {
    font-size: 1.2em;
}

.page-cart img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.page-cart .flex-row-1 {
    display: flex;
    flex-direction: row;
    gap: 2em;
    background-color: #ffffff;
    padding: 2em;
    border-radius: 2px;
    justify-content: space-between;
}

.page-cart .flex-column-1 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}

.page-cart .flex-row-2 {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.page-cart .flex-row-3 {
    display: flex;
    flex-direction: row;
    gap: 5em;
    align-items: center;
    font-size: 1em;
    justify-content: space-between;
}

.page-cart #noitem{
    margin: 2em 0 2em 0;
}

.page-cart .flex-row-2 h2 {
    font-size: 1em;
}

.page-cart .flex-row-2 p {
    font-size: 0.8em;
    max-width: 280px;
}

.page-cart .flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page-cart .flex-column-between a {
    font-size: 2em;
    color: rgb(175, 42, 42);
}

.page-cart .total {
    background-color: #f3f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-cart .total a {
    font-size: 1em;
}

.page-cart #price {
    color: rgb(134, 133, 133);
}
.page-cart .quantity{
    display: flex;
    text-align: center;
    align-items: center;
}
.page-cart .quantity i{
    background-color: transparent;
    color: black;
}
.page-cart .modal-footer{
    display: flex;
    justify-content: center;
}

.page-checkout {
    gap: 2em;
}

.page-checkout h1 {
    font-size: 3em;
    margin-top: 1em;
}

.page-checkout h2 {
    font-size: 2em;
}

.page-checkout button {
    width: 10em;
    border-radius: 10px;
}

.page-checkout .flex-row1 {
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: center;
    gap: 4em;
    margin-bottom: 1em;
}

.page-checkout .flex-column {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.page-checkout .flex-column-sum {
    display: flex;
    flex-direction: column;
    width: 35vw;

}

.page-checkout .flex-column-insum {
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 240, 240);
    padding: 1em 2em 1em 2em;
    border-radius: 10px;
}

.page-checkout form {
    background-color: #f9f9f9;
    padding: 1em 2em 1em 2em;
    border-radius: 10px;
}

.page-checkout .field {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(137, 135, 135);
    padding: .5rem;
    border-radius: .25rem;
}

.page-checkout .field1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border-radius: .25rem;
    font-size: 2em;
    text-align: center;
}

.page-checkout .field2 {
    padding: .5rem .5rem 0 .5rem;
    border-radius: .25rem;
    font-size: 1em;
}

.page-checkout ul {
    margin: 0rem .5rem .5rem 2rem;
    font-size: 1em;
}

.page-checkout .field__label {
    color: var(--color-gray);
    font-size: 0.7rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0.25rem
}

.page-checkout .field__input {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
}

.page-checkout .field:focus-within {
    border-color: solid 1px #000;
}

.page-checkout .fields {
    display: grid;
}

.page-checkout .fields--2 {
    grid-template-columns: 1fr 1fr;
}

.page-checkout .fields--3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.page-checkout .btn-primary {
    height: 3em;
}

.page-checkout .tab {
    display: none;
}

.page-checkout .required {
    color: red;
}

.page-checkout .red {
    border: solid 1px red;
}

.page-checkout img {
    width: 50px;
    height: 50px;
}

.page-checkout .flex-row-1 {
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 2em;
    border-radius: 2px;
    justify-content: space-between;
}

.page-checkout .flex-column-1 {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}

.page-checkout .flex-row-2 {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.page-checkout .flex-row-3 {
    display: flex;
    flex-direction: row;
    gap: 5em;
    align-items: center;
    font-size: 1em;
    justify-content: space-between;
}

.page-checkout .flex-row-3 h4 {
    font-size: 1em;
    color: #5d5d5d;
}

.page-checkout .flex-row-3 h3 {
    font-size: 1.1em;
}

.page-checkout .flex-row-2 h2 {
    font-size: 1.5em;
}

.page-checkout .flex-column-below h3 {
    font-size: 1.25em;
}

.page-checkout .flex-row-2 p {
    font-size: 1em;
    max-width: 250px;
}

.page-checkout .flex-column-below {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.page-checkout .flex-column-between a {
    font-size: 1em;
    color: rgb(175, 42, 42);
}

.page-checkout .total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-checkout .total a {
    font-size: 1.5em;
}

.page-checkout #price {
    color: rgb(134, 133, 133);
}

.page-checkout .pad-top {
    padding: 0 2em 0 2em;
}

.page-checkout .middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
}

.page-checkout .payment-info {
    margin: 0 0 1.5em 0;
}

.page-checkout .mb-3 {
    margin-top: 1em;
    font-size: 1rem;
}

.content tbody {
    font-size: 0.75em;
}

.content .modal-body {
    font-size: 0.75em;
}

.content .modal-body img {
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.content .modal-body input,
textarea,
ul,
select {
    margin-bottom: 0.5rem;
}

.content .Pending {
    color: rgb(178, 166, 35);
}

.content .In-Progress {
    color: rgb(26, 129, 163);
}

.content .Done {
    color: rgb(46, 149, 22);
}

.content .Cancel {
    color: rgb(183, 36, 36);

}

.content td,
th {
    vertical-align: middle;
}

.list-group {
    margin-bottom: 0.5rem;
}



.page-viewproduct {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}

.page-viewproduct .main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 2em;
}

.page-viewproduct .main-container h1 {
    font-size: 3em;
    color: #3F4726;
}

.page-viewproduct .main-container h3 {
    font-size: 1.3em;
    color: #5F6942;
}

.page-viewproduct .column-custom {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 25em;
    gap: 0.3em;
}

.page-viewproduct .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.page-viewproduct .col1 {
    width: 60vw;
}

.page-viewproduct img {
    height: 70vh;
    object-fit: contain;
}

.page-viewproduct .notAvailable {
    background-color: rgb(180, 39, 39);
}

/* Navbar */
.navbar {
    display: flex;
    padding: 2em 5em 2em 5em;
    font-weight: 500;
    font-size: 1.2em;
    justify-content: space-between;
    height: 10vh;
    align-content: center;
    background-color: #006391;
}

.navbar a {
    text-decoration: none;
    font-size: 1em;
    color: white;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2em;
}

.navbar-links li {
    list-style: none;
}

.toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.content {
    font-size: 1.1em;
}

.content i {
    font-size: 1.5em;
    color: rgb(168, 24, 24);
}

.content table {
    text-align: center;
}

.homepage {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
    flex-direction: column;
}

.homepage #heading {
    margin: 0;
}

#heading {
    text-align: center;
    margin: 1em 0 1em 0;
}

.content #add {
    margin-bottom: 0.5em;
}
.deleteacc{
    text-align: center;
}
.deleteacc .modal-header{
   justify-content: center;
   color: rgb(201, 21, 21);
}
.deleteacc .modal-footer{
    justify-content: center;
}

@media (max-width: 991px) {

    .page-products .thumbnail {
        width: 70vw;
    }

    .page-products .thumbnail img {
        width: 70vw;
        height: auto;
    }

    .page-checkout .flex-row1 {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .page-checkout .flex-column {
        width: 90vw;
        overflow: visible;
    }

    .page-checkout .flex-column-sum {
        width: 90vw;
        overflow: visible;
        margin-bottom: 2em;
    }

    .page-products .caption {
        width: auto;
    }
}

@media (max-width: 768px) {
    .page-products .col-md-6 {
        width: auto;
    }

    .page-products .thumbnail {
        width: 70vw;
    }

    .page-products .thumbnail img {
        width: 70vw;
        height: auto;
    }

    .page-cart .flex-row-1 {
        flex-direction: column;
    }

    .page-cart .flex-row-2 {
        flex-direction: column;
        align-items: center;
    }

    .page-cart .flex-row-3 {
        justify-content: space-between;
    }
}

@media (max-width: 680px) {

    .page {
        height: auto;
    }

    .toggle-button {
        display: flex;
    }

    .navbar {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        background-color: #006391;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        flex-direction: column;
    }

    .navbar-links.active ul {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    h1 {
        font-size: 8vmin !important;
    }

    h2 {
        font-size: 3vmin !important;
    }
    p {
        font-size: 3vmin !important;
    }

    .page-products h1 {
        font-size: 5vmin !important;
    }

    .page-products h2 {
        font-size: 3vmin !important;
    }

    .page-products h3 {
        font-size: 3vmin !important;
    }

    .price {
        font-size: 2vmin !important;
    }

    .page-products .foodnav {
        flex-direction: column;
    }

    .page-products .foodnav ul {
        flex-direction: column;
        gap: 1em;
        margin: 0.5em 0 0.5em 0;

    }

    .page-products .foodnav button {
        width: 100%;
    }

    .page-products .foodnav li::after {
        content: none;
        /* Remove vertical line on smaller screens */
    }
    .page-signin .form-group input {
        width: 80vmin;
    }
    .page-signin .form-group a {
        width: 80vmin;
    }
    .page-signin a#createacc{
        width: 80vmin;
    }
    .page-signin button{
        width: 80vmin;
    }
    .page-profile h2{
        font-size: 10vmin !important;
    }
    .page-profile h3{
        font-size: 7vmin !important;
    }
    .page-profile .hello{
        margin: 2em 0 2em 0;
        gap: 1.5em;
    }
   
}

@media (max-width: 875px) {
    .page-viewproduct .main-container {
        flex-direction: column !important;
    }

    .page-viewproduct .col {
        width: 80vw;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
}

#head {
    border-bottom: 1px solid rgb(203, 200, 200);
}

/* Active/current link */
.sidebar a.active {
    background-color: #505151;
    color: rgb(245, 244, 244);
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: rgb(152, 146, 146);
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
    margin-left: 150px;
    padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}