<div class="container page-term">
    <h1 class="text-center">Privacy Policy</h1>
    <div class="card">
        <div class="card-body">
            <h3><strong>Information We Collect</strong></h3>
            <p>
                At our company, we may collect the following information from you:
            </p>
            <ul>
                <li><strong>Contact and Billing Information:</strong> This includes your name, address, email address,
                    and
                    payment details.</li>
                <li><strong>Order History:</strong> We collect information about your past orders to process and fulfill
                    your
                    current and future orders.</li>
                <li><strong>Preferences:</strong> We may ask for your preferences to personalize your experience with
                    our
                    services.</li>
            </ul>

            <h3><strong>How We Use Your Information</strong></h3>
            <p>
                We use the information we collect for the following purposes:
            </p>
            <ol>
                <li><strong>Processing Orders:</strong> Your contact and billing information, along with your order
                    history, are
                    used to process and fulfill your orders accurately and efficiently.</li>
                <li><strong>Personalization:</strong> We utilize your preferences to tailor our services to your
                    individual
                    needs and provide a customized experience.</li>
                <li><strong>Service Improvement:</strong> We analyze the collected information to understand usage
                    patterns,
                    preferences, and trends. This helps us improve our services, develop new features and functionality,
                    and
                    enhance your overall experience.</li>
            </ol>
            <h3><strong>How We Share Your Information</strong></h3>
            <p>
                We understand the importance of your privacy and only share your information when necessary. In order to
                process
                payments, we share your information with a trusted third-party payment processor called
                <strong>Stripe</strong>.
                The sharing of your information with Stripe is essential to facilitate secure and efficient payment
                transactions.</p>
            <p>
                We want to assure you that we do not sell, rent, or disclose your information to any other third parties
                unless
                required by law or with your explicit consent. Your privacy and data security are of utmost importance
                to us.
            </p>
            <h3><strong>How We Protect Your Information</strong></h3>
            <p>
                We take commercially reasonable steps to protect your <strong>Contact Information</strong>,
                <strong>Billing
                    Information</strong>, <strong>Geolocational Information</strong>, and <strong>Other
                    Information</strong>
                from loss, misuse, and unauthorized access, disclosure, alteration, or destruction. However, it's
                important to
                understand that no security system is impenetrable. While we strive to safeguard your information, we
                cannot
                guarantee the security of our databases, nor can we ensure that the information you transmit to us over
                the
                Internet will not be intercepted. Please exercise caution when sending sensitive information via email
                or other
                electronic means.
            </p>

            <h3><strong>Children's Information</strong></h3>
            <p>
                We are committed to protecting the privacy of children. We do not knowingly collect personal information
                from
                children under the age of 13 through our Services. If you are under 13, please refrain from providing
                any
                personal information. We encourage parents and legal guardians to monitor their children's Internet
                usage and
                instruct them not to provide personal information without permission. If you believe that a child under
                13 has
                provided personal information to us, please contact us, and we will take steps to promptly delete that
                information from our databases.
            </p>

            <h3><strong>External Websites and Payment Service Providers</strong></h3>
            <p>
                Our Services may include links to third-party websites, including the payment service provider
                <strong>Stripe</strong>. Please note that we have no control over the content or privacy practices of
                these
                external websites. We encourage you to review their privacy policies and practices before providing any
                personal
                information on those sites. Your interactions with third-party websites are solely governed by their
                terms and
                policies.
            </p>
            <h3><strong>Accessing and Modifying Information and Communication Preferences</strong></h3>
            <p>
                If you have registered for the Services, you have the ability to access, review, delete, and make
                changes to
                your <strong>Contact Information</strong>, <strong>Billing Information</strong>, and certain
                <strong>Other
                    Information</strong>. To do so, please follow the instructions provided on our website. In the event
                that
                modification or removal of certain information is not possible, we will provide you with a reason for
                the
                limitation.
            </p>

            <h3><strong>Updates to This Privacy Policy</strong></h3>
            <p>
                This Privacy Policy is effective as of the date stated at the top of the page. We reserve the right to
                update
                this Privacy Policy periodically and without prior notice to reflect changes in our privacy practices.
                The most
                recent update will be indicated at the top of this Privacy Policy, and we encourage you to regularly
                check this
                page to stay informed about any changes. By continuing to access the Services after being notified of
                changes to
                this Privacy Policy, you are deemed to have accepted such changes.
            </p>

            <h3><strong>How to Contact Us</strong></h3>
            <p>
                If you have any questions, concerns, or feedback regarding this Privacy Policy or our privacy practices,
                please
                don't hesitate to <strong>contact us</strong>. We value your privacy and will do our best to address any
                inquiries or issues promptly.
            </p>



        </div>
    </div>

</div>