<div class="page page-1">
    <div class="container">
        <h1>
            PYE BOAT NOODLES
        </h1>
        <p>
        PYE in Thai means paddles the essencial tools use to guide small wooden boat carrying noodle sou
        </p>
        <div class="flex-btn">
            <a href="/aboutus"><button>OUR STORY</button></a>
            <a href="/menu"><button id="online-btn">ORDER ONLINE</button></a>
        </div>
         </div>
</div>